<mat-sidenav-container class = "tp-container" autosize>
  <mat-sidenav mode = "side" opened>

    <mat-toolbar>
      <mat-toolbar-row>
        <h2> Inights </h2>
      </mat-toolbar-row>
    </mat-toolbar>


    <section class = "tp-section" >
      <a routerLink="/nlp" routerLinkActive="active">NLP</a>
    </section>

    <section class = "tp-section">
      <a routerLink="/cv" routerLinkActive="active">Computer Vision</a>
    </section>

    <section class = "tp-section">
      <a routerLink="/ts" routerLinkActive="active">Time Series</a>
    </section>

  </mat-sidenav>
  <mat-sidenav-content> Main content adklhjsfljkhsdclahds cjhdaflkjadshf dshaflkadsjhf lsdjkh</mat-sidenav-content>
</mat-sidenav-container>
