a:link {
  color: white;
  padding-left: 8px;
}

.homepage {
  color: black;
  padding-left: 8px;
}

body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url('../../assets/SeattleSkyline-1994.jpg');
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tp-container {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: #eee;
}

.tp-section {
   display: flex;
   align-content: center;
   align-items: center;
   height: 60px;
   width:100px;
}
