<mat-sidenav-container class = "tp-container" autosize>
  <mat-sidenav mode = "side" opened>

    <mat-toolbar>
      <mat-toolbar-row>
        <h2> Models </h2>
      </mat-toolbar-row>
    </mat-toolbar>


    <section class = "tp-section" >
      <a routerLink="/nlp" routerLinkActive="active">Rorschach</a>
    </section>

    <section class = "tp-section">
      <a routerLink="/ts" routerLinkActive="active">Faces</a>
    </section>

  </mat-sidenav>

  <div class="bg">

    <br>

      <h1 style="color:white; font-size: 35px;" class="homepage">Artificial intelligence</h1>

      <blockquote style="font-style: italic; color:white; font-size: 18px;" class="homepage">"Machine learning and AI is a horizontal enabling layer. It will empower and improve every business, every government organization, every philanthropy — basically there’s no institution in the world that cannot be improved with machine learning."</blockquote>
      <blockquote style="color:white; font-size: 20px;" class="homepage">- Jeff Bezos</blockquote>
  </div>



</mat-sidenav-container>
